.navbar {
    background-color: #133F2A;
    padding: 0;
}

.navbar-brand  {
    background-color: #1D661D;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.nav-link a, .fake-nav{
    color: white;
    font-weight: bold;
}